{% extends "base.html" %}
{% block title %}Войти на сайт{% endblock %}
{% block content %}
<div class="card-header">
  <h3>Войти на сайт</h3>
</div>
<div class="card-body">
  <div class="container">
    {% include "includes/form_errors.html" %}
    <form method="post" enctype="multipart/form-data"
    {% if action_url %}
      action="{% url action_url %}"
    {% endif %}
    >
    {% csrf_token %}
    {% include "includes/form_fields.html" %}
    <div class="d-flex col-md-12 justify-content-center">
      <button type="submit" class="btn btn-primary">
        Войти
      </button>
      <a
        href="{% url 'users:password_reset_form' %}"
        class="btn btn-link"
      >
        Забыли пароль?
      </a>
    </div>
    </form>
  </div>
</div>
{% endblock %}
